{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" action="" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <h1>File Upload</h1>

    <p><input type="file" name="file"></p>

    {% for file in files %}
    <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
    {% endfor %}
    <p><input type="submit" value="Submit"></p>
  </form>
  <hr>
{% endblock %}